.photo {
    position: relative;
    height: 162px;
    width: 123px;
    /* padding-bottom: 10%; */
    /* display: contents; */
  }
.intro{
    position: relative;
    height: 200px;
}


.NextHome{
    position: relative;

}